<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Table</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
  <!-- for Godown -->
  <form method="GET" name="form1" id="form1">
    <label for="selected_Godown">Choose a Godown:</label>
    <select id="selected_Godown" name="selected_Godown" onchange='this.form.submit()'>
      {% for i in key2 %}
      <option value="{{i.Godown}}">{{i.Godown}}</option>
      {% endfor %}
    </select>
    <br><br>

    <b>Row_No: </b> <select name="row_no" id="row_no" onchange='this.form.submit()'>
      {% for j in key3 %}
      <option value="{{j.RowNo}}">{{j.RowNo}}</option>
      {% endfor %}
    </select>
    <br><br>
  </form>

  <center>
    <H2 style="border: 2px solid DodgerBlue;">GODOWN {{selected}}</H2>
  </center>

  <script>
    $(document).ready(function () {
      $('#selected_Godown').val('{{selected}}')
      $('#row_no').val('{{row}}')
    });
    
  </script>
  <br><br>

  <table id="records_table" class="table table-bordered">
    <thead>
      <tr class="table-primary">
        <th scope="col">ID</th>
        <th scope="col">Plant</th>
        <th scope="col">Godown</th>
        <th scope="col">Our_Lot</th>
        <th scope="col">Recd_Date</th>
        <th scope="col">Types</th>
        <th scope="col">Garden</th>
        <th scope="col">Grade</th>
        <th scope="col">Inv_No</th>
        <th scope="col">Cases</th>
        <th scope="col">Kg</th>
        <th scope="col">Net_Kg</th>
        <th scope="col">Row_No</th>
        <th scope="col">Remarks</th>
        <th scope="col">Remarks_2</th>
        <th scope="col">Status</th>
        <th scope="col">PCases</th>
        {% if isHigher %}
        <th scope="col">Actions</th>
        <th scope="col">Updated_By</th>
        <th scope="col">Updated_At</th>
        {% endif %}
      </tr>
    </thead>
    {% if key1 %}
    <tbody>
      {% for i in key1 %}
      <tr>
        <th scope="row">{{i.id}}</th>
        <td>{{i.Plant}}</td>
        <td>{{i.Godown}}</td>
        <td>{{i.OurLot}}</td>
        <td>{{i.RecdDate}}</td>
        <td>{{i.Type}}</td>
        <td>{{i.Garden}}</td>
        <td>{{i.Grade}}</td>
        <td>{{i.InvNo}}</td>
        <td>{{i.Cases}}</td>
        <td>{{i.Kg}}</td>
        <td>{{i.NetKg}}</td>
        <td>{{i.RowNo}}</td>
        <td>{{i.Remarks}}</td>
        <td>
          <form method='POST'>
            <input type="hidden" id="userid" value="{{current_user}}">
            {% csrf_token %}
            <select class="form-select selected_value" aria-label="Default select example" name='Remarks2' id={{i.id}}>
              <option selected value = "">Select Remark</option>
              <option value="Mango">Mango</option>
              <option value="Orange">Orange</option>
              <option value="Apple">Apple</option>
            </select>
          </form>
        </td>
        <!-- {% if i.status == False %}
                <td style="background-color:#FF0000">{{i.status}}</td>
                {% else %} -->
        <td>{{i.Status}}</td>
        <!-- {% endif %} -->
        {% if i.Pcase != i.Cases and i.Pcase > 0 %}
        <td style="background-color:#FF0000">{{i.Pcase}}</td>
        {% else %}
        <td>{{i.Pcase}}</td>
        {% endif %}
        {% if isHigher %}
        <td>
          <input type="hidden" id="Myid" class ="hide" value="{{i.id}}">
          <button class='btn btn-primary update id_{{i.id}}' id={{i.id}} value = "{{i.id}}" disabled>Update</button>
        </td>
        <td>{{i.updated_by_id}}</td>
        <td>{{i.updated_at}}</td>
        {% endif %}
      </tr>
      {% endfor %}
      <tr style="background-color:#a8a5a5">
        <td colspan="9">Total Godown Cases</td>
        <td>{{sum}}</td>
        <td colspan="6">Total Scanned Bags</td>
        <td>{{case}}</td>
      </tr>
    </tbody>
    {% endif %}
  </table>
  <a class="btn btn-primary" href="{% url 'logout' %}" role="button">LogOut</a>


    <script>
      // CSRF code
      function getCookie(name) {
        var cookieValue = null;
        var i = 0;
        if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (i; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }
      var csrftoken = getCookie('csrftoken');

      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }

      // Use csrf token while doing post request, this will prevent 500 Server Error
      $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function (xhr, settings) {
          if (!csrfSafeMethod(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });

      //For getting data to the modal
      
      var value = ""

      $(".selected_value").change(function () {
        $('.update').prop('disabled', true);
        id = this.id
        value = $(this).val()
        
        // Fetching Value
        
        $('.id_'+id).prop('disabled', false);
        
        if (value == "") {
          $('.id_'+id).prop('disabled', true);
        }
        // Fetching Text
        console.log($(this).find('option:selected').text());

    });

      //For Update the data
      $('.update').click(function () {
        var id =  this.id;
        console.log(id);
        var myurl = '/data/api/' + id + '/update/';
        var updated_by_id = $("#userid").attr("value");
        console.log(updated_by_id);

        var remark = value;

        $.ajax({
          type: 'PATCH',
          url: myurl,
          data: {
            'Remarks': remark,
            'updated_by' : updated_by_id
          },
          success: function (response) {
            location.reload();
            $('input[name=Remarks]').val("");
          },
        })
      });

    </script>
</body>

</html>